<!--==========================
 Contact Section
 ============================-->
<section id="contact">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Связаться с нами</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">"Люди не покупают у клоунов, Клод Хопкинс"</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5 col-md-push-3">
                <div class="info">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>Россия,<br>Нижний Тагил, <br> ул.Карла Макса 99,<br>Офис БарвихаLife</p>
                    </div>

                    <div>
                        <i class="fa fa-envelope"></i>
                        <p>barviha.life@gmail.com</p>
                    </div>

                    <div>
                        <i class="fa fa-phone"></i>
                        <p>8 (3435) 46-48-66</p>
                    </div>

                </div>
            </div>
            <div class="col-md-5 col-md-push-2">
 <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal" style="height: 110px;">
                        Написать сообщение
                    </button>
                    <!-- Inquiry Modal -->
                    {% include 'listings/_Inqury.html' %}


            </div>
</section>