<!-- Team -->
<section id="team">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Наша команда</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">"Люди не покупают у клоунов, Клод Хопкинс"</p>
            </div>
        </div>
        <div class="row text-center">
            {% if realtors %}
                {% for realtor in realtors %}
                    <div class="col-md-3">
                        <div class="crop">
                            <img src="{{ realtor.photo.url }}" alt="" class="rounded-circle mb-3">
                            <h4>{{ realtor.name }}</h4>
                            <p class="text-success">
                                <i class="fas fa-award text-success mb-3"></i> Риэлтор</p>
                            <p>
                                <i class="fas fa-phone"></i> {{ realtor.phone }}</p>
                            <p>
                                <i class="fas fa-envelope-open"></i> {{ realtor.email }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <p>No Realtors Available</p>
                </div>
            {% endif %}
        </div>

    </div>
</section>

