{% extends 'barviha/templates.html' %} {% block blockname2 %}
<main role="main" class="container">
    <div class="row">
        <div class="col-lg">
            <h1>Наши Поздравления!</h1>
            <div class="jumbotron">
                
                <h1>Нет смысла говорить человеку то, что ему непонятно, если к тому же он еще и не в состоянии этого понять.
</h1>
                <h4>Людвиг Витгенштейн</h4>
                
                <div>
                   

                    <!--<form action="" method="post" class="post-form">
                        {% csrf_token %}
                        <table>
                            {{form.as_p}}
                        </table>
                        <button type="submit" class="btn btn-lg btn-primary">отправить</button>
                    </form>-->
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock blockname2 %}