{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
    <link href="{% static 'barviha/favicon.ico' %}" rel="shortcut icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link href="{% static 'barviha/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'barviha/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'barviha/lib/animate-css/animate.min.css" rel="stylesheet' %}">

    <!-- Main Stylesheet File -->
    <link href="{% static 'barviha/css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
    Theme Name: Imperial
    Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
{% block blockname1 %}
{% endblock blockname1 %}
<div id="preloader"></div>


<!--==========================
Header Section
============================-->
{% include 'barviha/_header.html' %}
<!-- #header -->
{% block blockname2 %}
{% endblock blockname2 %}

<!--==========================
Contact Section
============================-->
{% include 'barviha/_Contact Section.html' %}

<!--==========================
Footer
============================-->
{% include 'barviha/_footer.html' %}
<!-- #footer -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- Required JavaScript Libraries -->
<script src="{% static 'barviha/lib/jquery/jquery.min.js' %}"></script>
<script src="{% static 'barviha/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'barviha/lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'barviha/lib/superfish/superfish.min.js' %}"></script>
<script src="{% static 'barviha/lib/morphext/morphext.min.js' %}"></script>
<script src="{% static 'barviha/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'barviha/lib/stickyjs/sticky.js' %}"></script>
<script src="{% static 'barviha/lib/easing/easing.js' %}"></script>

<!-- Template Specisifc Custom Javascript File -->
<script src="{% static 'barviha/js/custom.js' %}"></script>

<script src="{% static 'barviha/contactform/contactform.js' %}"></script>


</body>

</html>